<div id="chat-wrapper" class="worm-chat-wrapper container-fluid">
    <div class="worm-video-container ratio-1x1">
      <video id="worm-video" class="worm-video" playsinline>
        <source src="" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <img id="thought-image" class="thought-bubble" src="" alt="..." />
    </div>
    <div class="worm-chat-controls text-center mt-3">
        {# 30%-width clickable image used as the feeding button #}
        <img id="feedBtnImg"
            src="{{ directory }}/images/give_cup.png"
            alt="Futter"
            class="worm-chat-menu-image"
        />
        {# 30%-width clickable image used as the Hello button #}
        <img id="helloBtnImage"
             src="{{ directory }}/images/hello.png"
             alt="Sag hallo"
             class="hello-image" />
        {# 30%-width clickable image used as the learn button #}
        <img id="learnBtnImage"
             src="{{ directory }}/images/learn.png"
             alt="Lernen"
             class="worm-chat-menu-image" />
    </div>
</div>